* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(255, 243, 251);
    --ui: #000000;
    --uifade: rgba(255, 2, 2, 0.5);
    --link: rgb(5, 5, 5);
    --hover: #7a267e;
    --fade: rgba(255, 243, 251, 0.73);
    --credits-sub: rgba(126, 126, 126, 0.5);
}

body {
    background: var(--bg);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}





/* Main */

h1 {
    color: #0c0c0c;
    font-size: 14vw;
    text-align: left;
    font-weight: normal;
    margin: 0;
    font-family: 'Athemi DEMO VERSION', serif;
    pointer-events: none;
}

h3 {
    color: #0c0c0c;
    font-size: 12vw;
    text-align: left;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    font-family: 'Athemi DEMO VERSION', serif;
}

.headline {
    position: relative;
    margin-right: auto;
    margin-top: 5vh;
    margin-left: 20%;
    width: 60%;
    max-width: 100%;
    height: auto;
    left: auto;
    top: auto;
    will-change: transform;
}


.content {
    position: relative;
    margin-left: 20%;
    width: 60%;
    margin-top: 5vh;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 1200px;
    height: auto;
    left: auto;
    top: auto;
}

.content h1,
.content h3,
.content p,
.content h2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    font-family: 'Helvetica Neue', serif;
    text-align: left;
    line-height: 1.6;
}

.content h2 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    font-family: 'Aesthetic', serif;
    font-weight: bold;
}

.content p {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    line-height: 1.8;
    color: #494949;
}

.content .info {
    display: block;
    font-family: 'Helvetica Neue', serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: #a0a0a0;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.content h2 + p + .info-note {
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.content .info:last-child {
    margin-top: 3rem;
    margin-bottom: 0;
}

.email-link {
    color: inherit;
    text-decoration: none;
    padding-bottom: 12px;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: left 95%;
    transition:
            color 0.6s ease-in-out,
            background-size 0.6s ease-in-out;
}

.email-link:hover {
    color: var(--hover, #555555);
    background-size: 0 2px;
    background-position: right 95%;
}





@media (min-width: 901px) {
    .headline {
        margin-top: 25vh;
        margin-left: 20%;
        width: 60%;
    }

    .content {
        margin-top: 5vh;
        margin-left: 20%;
        width: 60%;
        margin-bottom: 10vh;
    }

    .content h1,
    .content h2,
    .content p {
        width: 100%;
    }
}


@media (max-width: 900px) {

    .headline {
        position: relative;
        top: 4vh;
        left: auto;
        width: 90%;
        height: auto;
        margin: 10vh auto 0 auto;
        padding-top: 0;
        max-width: 100%;
    }

    .headline h1 {
        font-size: clamp(6rem, 18vw, 10rem);
        margin-bottom: 6rem;
    }

    .headline h3 {
        font-size: clamp(5rem, 16vw, 9rem);
        margin-bottom: 6rem;
    }

    .content {
        position: relative;
        top: auto;
        left: auto;
        width: 90%;
        height: auto;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vh;
        max-width: 100%;
    }

    .content h2,
    .content p {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        font-size: 1.4rem;
    }

    .content h2 {
        font-size: 1.8rem;
        margin-top: 3rem;
        margin-bottom: 0.8rem;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .content .info {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .content h2 + p + .info {
        margin-top: -1.5rem;
        margin-bottom: 2rem;
    }
}