* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(9, 9, 9);
    --navi: #ffffff;
    --href: rgb(197, 197, 197);
    --hover: #ff0243;
    --fade: rgba(16, 16, 16, 0);
}

body {
    background: var(--bg);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.grainy {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.lycorisglow {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 9002;
}

.lycoris1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 0%;
    bottom: 0%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 9002;
}

.lycoris2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    right: 0%;
    bottom: 0%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 9002;
}

.evergwen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    z-index: 1000;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


.lycoris2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    right: 0%;
    bottom: 0%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 100;
}

.animation:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 200%;
  width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
  z-index: 102;
}





@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}





h1 {
    /* KORREKTUR: Setzen Sie max-width, um sicherzustellen, dass h1 niemals
       die Breite überschreiten kann, falls 24vw zu groß ist. */
    max-width: 100vw;
    width: 100%;
    color: #f5deff;
    font-size: 12vw;
    font-weight: 10;
    text-align: center;
    margin: 0;
    font-family: 'Remington Noiseless', serif;
}




.wrapper-404 {
    position: absolute;
    top: 15%;
    /* Standard (Mobil): Sicher auf 100vw gesetzt */
    width: 100vw;
    max-width: 100vw;
    height: 80vh;
    will-change: transform;

}




.outro {
    position: absolute;
    top: 60vh;
    /* KORREKTUR: Begrenzen Sie Outro ebenfalls auf 100vw */
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

.outro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 400px; /* Verhindert, dass der Text den Bildschirmrand berührt */
    font-size: 40px;
    font-family: 'Remington Noiseless', serif;
    font-weight: lighter;
    text-align: center;
}

/* Desktop: Ab 901px wird die 200vw Breite für den Parallax-Effekt aktiviert */
@media (min-width: 901px) {
    .wrapper-404 {
        top: 25%;
        width: 200vw;
    }


    .outro h1 {
        top: 70%;
        width: 200vw;
    }
}

@media (max-width: 900px) {
    .wrapper-404 {
        padding-top: 20em;
    }
}
