:root {
  --bg: #e8a6ff;
  --link-color: #fefaff;
  --overlay-bg: #131313;
  --hover-menu: #e3ff53;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  overflow: hidden;
}

.liquid-logo {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 35px;
    width: 85px;
    z-index: 9999;
}


.copyright {
    position: absolute;
    display: flex;
    bottom: 25px;
    right: 25px;
    width: 50px;
}

