* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roslindale Display Condensed";
  background: #000;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

h1 {
  width: 100%;
  color: #fff;
  font-size: 24vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.container {
  width: 100%;
  height: 1200vh;
}

nav {
  position: fixed;
  top: 10px;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  z-index: 48;
}

.wrapper-404 {
  position: absolute;
  top: 0;
  width: 200vw;
  height: 100vh;
  will-change: transform;
}

.card {
  position: absolute;
    width: calc(3% + 100px);;
  background: rgba(128, 128, 128, 0);
  border-radius: 20px;
  overflow: hidden;
}

#card-1 {
  top: 50%;
  left: 20%;
}

#card-2 {
  top: 25%;
  left: 40%;
}

#card-3 {
  top: 45%;
  left: 60%;
}

#card-4 {
  top: 15%;
  left: 80%;
}

.outro {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
}

.outro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

@media (max-width: 900px) {
  .wrapper-404 {
    padding-top: 20em;
  }
}

