html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0a0020; /* dein Hintergrund */
}

body {
  min-height: 100vh;
}

.spline-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}