.no-scroll {
    overflow: hidden;
    height: 100vh;
}



@media (prefers-color-scheme: dark) {
    :root {
        --logo: url('./assets/kawaiigwenwhite.svg');
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athemi';
    src: url('./fonts/athemi_otf-webfont.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aesthetic';
    src: url('./fonts/Aesthetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Remington';
    src: url('./fonts/Remington Noiseless.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#brand {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(70px, 7vw, 80px);
    height: clamp(70px, 7vw, 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    mix-blend-mode: normal;
}

#brand img {
    content: var(--logo);
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.5s ease-in-out;
    filter: none;
}

#brand:hover img {
    filter: invert(34%) sepia(91%) saturate(2250%) hue-rotate(293deg) brightness(87%) contrast(100%);
}

.branding {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    color: var(--credits);
}

.branding-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 90%;
}

.branding .portrait,
.branding .portraitcolor {
    position: absolute;
    left: calc(50% - 12vw);
    bottom: 0;
    height: clamp(500px, 90vh, 1050px);
    transform: translateX(-50%);
    width: auto;
    object-fit: contain;
    transition: opacity 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease;
    z-index: 10000;
}

.branding .portraitcolor {
    opacity: 0;
    z-index: 10000;
}

.branding .portrait:hover + .portraitcolor,
.branding .portraitcolor:hover {
    opacity: 1;
}

.branding .portrait:hover {
    opacity: 0;
}

.branding .signature {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    width: 12vw;
    height: auto;
    z-index: 10001;
}

.branding-name {
    position: absolute;
    top: 40%;
    right: 20%;
    text-align: right;
    font-size: clamp(4rem, 12vw, 9rem);
    font-weight: normal;
    line-height: 1;
    z-index: 10001;
    white-space: nowrap;
    animation: scroll-left 24s linear infinite;
    font-family: 'Athemi', serif;
}

.branding-rights {
    position: fixed;
    z-index: 99999;
    bottom: clamp(1rem, 5vh, 5rem);
    left: clamp(1rem, 5vw, 5rem);
    font-size: clamp(0.75rem, 3vw, 2rem);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--credits);
    white-space: nowrap;
    animation: scroll-right 24s linear infinite;
}

.branding-year {
    position: fixed;
    z-index: 99999;
    bottom: clamp(1rem, 5vh, 5rem);
    right: clamp(1rem, 5vw, 5rem);
    font-size: clamp(2rem, 8vw, 5rem);
    color: var(--credits);
    margin-top: 0.3rem;
}

.branding-info {
    position: absolute;
    top: 70%;
    right: 20%;
    font-size: clamp(0.8rem, 2vw, 1.4rem);
    line-height: 1.4;
    text-align: right;
    margin-top: 1rem;
    max-width: 600px;
    color: var(--credits-sub);
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    z-index: 10001;
}

@media (max-width: 768px) {
    .branding-layer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5vh;
        width: 100%;
        height: 100%;
    }

    .branding .portrait,
    .branding .portraitcolor {
        position: fixed;
        left: 50%;
        bottom: 0;
        height: clamp(350px, 75vh, 600px);
        width: auto;
        transform: translateX(-50%);
        display: block;
    }

    .branding .portrait img,
    .branding .portraitcolor img {
        display: block;
    }

    .branding-name {
        position: relative;
        left: auto;
        right: auto;
        top: 16%;
        text-align: center;
        font-size: clamp(4rem, 15vw, 10rem);
        margin-bottom: 2rem;
        animation-duration: 16s;
        white-space: normal;
        max-width: 90%;
    }

    .branding .signature {
        position: absolute;
        top: 3rem;
        left: 1rem;
        bottom: auto;
        transform: none;
        width: 30vw;
        margin-bottom: 0;
    }

    .branding-info {
        position: absolute;
        left: 50%;
        right: auto;
        top: auto;
        bottom: 10vh;
        color: white;
        mix-blend-mode: difference;
        transform: translateX(-50%);
        text-align: center;
        width: 85%;
        font-size: clamp(0.8rem, 3vw, 1.1rem);
        line-height: 1.5;
        margin-bottom: 0;
    }

    .branding-rights {
        left: 1rem;
        bottom: 1rem;
        animation: none;
        white-space: normal;
        max-width: 50%;
        font-size: 1.5rem;
        color: white;
        mix-blend-mode: difference;
    }

    .branding-year {
        right: 1rem;
        bottom: 1rem;
        font-size: 3rem;
        color: white;
        mix-blend-mode: difference;
    }
}

#pond {
    position: fixed;
    top: 35px;
    right: 35px;
    width: clamp(80px, 7vw, 125px);
    height: clamp(80px, 7vw, 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    transition: transform 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.ripple {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--ui);
}

.ripple, .drop, .echo {
    transition: border-color 0.4s ease-out, background 0.4s ease-out;
}

.drop {
    animation: morph1 4s ease-in-out infinite;
    border: 1px solid var(--ui);
    background: transparent;
}

.echo {
    animation: morph2 2.5s cubic-bezier(0.68, -0.55, 0.26, 1.55) infinite alternate;
    opacity: 0.5;
    filter: blur(1px);
    transform: scale(1);
    border: 1px solid var(--ui);
    background: transparent;
}

#pond:hover {
    transform: scale(1.1);
}

#pond:hover .ripple,
#pond:hover .drop,
#pond:hover .echo {
    border-color: var(--hover);
    background: transparent;
}

#pond:hover #mark span,
#pond:hover #mark span::before {
    background: var(--hover);
}

@keyframes morph1 {
    0% {
        border-radius: 50% 50% 55% 45% / 50% 50% 55% 45%;
    }
    25% {
        border-radius: 55% 45% 50% 50% / 55% 45% 50% 50%;
    }
    50% {
        border-radius: 50% 55% 50% 50% / 50% 55% 50% 50%;
    }
    75% {
        border-radius: 55% 50% 55% 50% / 55% 50% 55% 50%;
    }
    100% {
        border-radius: 50% 50% 55% 45% / 50% 50% 55% 45%;
    }
}

@keyframes morph2 {
    0% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
    25% {
        border-radius: 50% 46% 50% 48% / 50% 52% 50% 48%;
    }
    50% {
        border-radius: 48% 52% 52% 48% / 48% 52% 58% 48%;
    }
    75% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
    100% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
}

#mark {
    position: relative;
    height: 20px;
    width: 20px;
    z-index: 2;
}
#mark span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 1.25px;
    background: var(--ui);
    transition: transform 0.25s;
}

#mark span::before {
    position: absolute;
    right: 0;
    display: inline-block;
    content: " ";
    width: 24px;
    height: 1.25px;
    background: var(--ui);
    transform: rotate(90deg);
    transition: transform 0.25s;
}

#mark.active span {
    transform: rotate(45deg);
}

#mark.active span::before {
    top: unset;
    width: 24px;
    transform: rotate(-90deg);
}

#mark span, #mark span::before {
    transition: transform 0.25s, background 0.4s ease-out;
}

.navi {
    visibility: hidden;
}

.navi {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--hover);
    z-index: 9002;
}

.main-navi {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navi-item-about,
.navi-item-works,
.navi-item-story {
    position: relative;
}

.navi-item-about {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.navi-item-works {
    top: 40%;
    left: 16%;
    transform: translateX(-50%);
}

.navi-item-story {
    top: 50%;
    left: 58%;
    transform: translateX(-50%);
}

.main-container a {
    font-family: 'Athemi', serif;
    font-size: clamp(9vh, 10vw, 16vh);
    text-transform: lowercase;
    text-decoration: none;
    color: var(--link);
    position: relative;
    transition: color 0.3s ease;
    transform-origin: center;
    padding: 0 5px;
}

.main-container a:hover {
    color: var(--hover);
}

.navi-item-revealer {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--hover);
    transform: translateY(-50%);
    transition: width 0.4s ease;
}

.main-container a:hover + .navi-item-revealer {
    width: 100%;
}

.side-navi {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', serif;
    color: var(--link);
    text-align: center;
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.wrapper-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.wrapper-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navi a {
    text-decoration: none;
    color: var(--link);
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: relative;
    transition: color 0.4s ease-out;
}

.side-navi a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--hover);
    transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.side-navi a:hover {
    color: var(--hover);
}
.side-navi a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .side-navi a {
        font-size: 1.2rem;
        letter-spacing: 0.15em;
    }
    .wrapper-legal {
        gap: 2rem;
    }
}









.haze {
    position: fixed;
    opacity: 0;
    background-color: var(--fade);
    backdrop-filter: blur(8px);
    inset: 0;
    z-index: 9001;
    pointer-events: none;
    transition: all 1.5s cubic-bezier(.22, 1, .36, 1) 1.5s;

}

.haze.active {
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(16px);
    animation: pulse-color 8s ease-in-out infinite alternate;
    transition: all 1s cubic-bezier(.22, 1, .36, 1) 0s;
}












body, html,
a, button, input[type="submit"], input[type="button"], input[type="reset"], [role="button"], [onclick], [tabindex]:not([tabindex="-1"]) {
    cursor: none !important;
}

.drip-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 19000;
    mix-blend-mode: difference;
    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease;
}

.drip-drop.is-hovering {
    width: 12px;
    height: 12px;
    background-color: rgba(110, 110, 110, 0.5);
    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease;
    mix-blend-mode: normal;
    backdrop-filter: blur(5px);
    opacity: 1;

}

.drip-echo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: transparent;
    mix-blend-mode: difference;
    transition: width 0.3s ease-out, height 0.3s ease-out, border-color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.drip-echo.is-hovering {
    width: 0;
    height: 0;
    opacity: 0;
    border-color: #00ffea;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    mix-blend-mode: difference;
}

.drip-drop.is-clicked {
    width: 24px;
    height: 24px;
    background-color: rgba(110, 110, 110, 0.5);
    transition: width 0.1s ease-out, height 0.1s ease-out, background-color 0.1s ease;
    mix-blend-mode: normal;
    backdrop-filter: blur(5px);
}

.drip-echo.is-clicked {
    width: 0;
    height: 0;
    opacity: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease;
}

.drip-drop.is-hovering.is-clicked {
    width: 16px;
    height: 16px;
    background-color: var(--hover);
}












.grain:after {
    content: "";
    background-image: url("https://cdn.discordapp.com/attachments/1283387731048927355/1445326078578131105/Untitled.png?ex=692ff04d&is=692e9ecd&hm=4cf7adf782fd9a2aab20a6c72319d9954098d73de7fad8bada37976b9b2ec7ff");
    height: 200%;
    width: 200%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    animation: animateGrain 8s steps(10) infinite;
    z-index: 1000;
    mix-blend-mode: multiply;
    pointer-events: none;
}

body.overlay-active .grain:after {
    z-index: 9001;
}

@keyframes animateGrain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, -20%);
    }
    30% {
        transform: translate(-5%, -10%);
    }
    40% {
        transform: translate(-15%, -20%);
    }
    50% {
        transform: translate(-5%, -10%);
    }
    60% {
        transform: translate(-15%, -20%);
    }
    70% {
        transform: translate(-5%, -10%);
    }
    80% {
        transform: translate(-15%, -20%);
    }
    90% {
        transform: translate(-5%, -10%);
    }
    100% {
        transform: translate(-15%, -20%);
    }
}





.sound-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: clamp(80px, 7vw, 125px);
    height: clamp(80px, 7vw, 125px);
    cursor: pointer;
    z-index: 100;
}

.sound-button canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.sound-button:hover {
    cursor: none;
}


header {
    --header-height: 5rem;
    --gradient-height: 6rem;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

header .header-bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), transparent);
}


header .gradualblur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--gradient-height);
    z-index: 900;
}

header .gradualblur:nth-child(1) {
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 1));

    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 1));
}

header .gradualblur:nth-child(2) {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 2));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 2));
}

header .gradualblur:nth-child(3) {
    -webkit-backdrop-filter: blur(1.75px);
    backdrop-filter: blur(1.75px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 3));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 3));
}

header .gradualblur:nth-child(4) {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 4));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 4));
}

header .gradualblur:nth-child(5) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black 100%);
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black 100%);
}

header .content {
    z-index: 900;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}





.build {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 100000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    color: #a0a0a0;
    opacity: 0.7;
    padding: 5px 10px;
    mix-blend-mode: multiply;
}
