.no-scroll {
    overflow: hidden;
    height: 100vh;
}
@font-face {
    font-family: "Badger";
    src: url("./assets/BadgerRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UniteaSans";
    src: url("./assets/unitea-sans.medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}


/* Branding, Copyright */

#brand {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(70px, 7vw, 80px);
    height: clamp(70px, 7vw, 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    mix-blend-mode: normal;
}

#brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#brand:hover {
    transform: translateX(-50%) scale(1.1);
}


/* Pond, Navi */

#pond {
    position: fixed;
    top: 35px;
    right: 35px;
    width: clamp(80px, 7vw, 125px);
    height: clamp(80px, 7vw, 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    transition: transform 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.ripple {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5px solid var(--navi);
}

.ripple {
    transition: border-color 0.4s ease-out;
    border: 1px solid var(--navi);
}

.drop, .echo {
    transition: background 0.4s ease-out, border-color 0.4s ease-out;
}


.drop {
    animation: morph1 4s ease-in-out infinite;
}

.echo {
    animation: morph2 2.5s cubic-bezier(0.68, -0.55, 0.26, 1.55) infinite alternate;
    opacity: 0.5;
    filter: blur(1px);
    transform: scale(1);
}

@keyframes morph1 {
    0% {
        border-radius: 50% 50% 55% 45% / 50% 50% 55% 45%;
    }
    25% {
        border-radius: 55% 45% 50% 50% / 55% 45% 50% 50%;
    }
    50% {
        border-radius: 50% 55% 50% 50% / 50% 55% 50% 50%;
    }
    75% {
        border-radius: 55% 50% 55% 50% / 55% 50% 55% 50%;
    }
    100% {
        border-radius: 50% 50% 55% 45% / 50% 50% 55% 45%;
    }
}

@keyframes morph2 {
    0% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
    25% {
        border-radius: 50% 46% 50% 48% / 50% 52% 50% 48%;
    }
    50% {
        border-radius: 48% 52% 52% 48% / 48% 52% 58% 48%;
    }
    75% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
    100% {
        border-radius: 52% 48% 50% 50% / 52% 48% 50% 50%;
    }
}

#pond:hover {
    color: var(--hover);
    transform: scale(1.1);
}



#mark.active {
    --navi: rgb(251, 37, 37);
}
#mark.active:hover {
    --navi: rgb(22, 193, 255);
}
#mark {
    position: relative;
    height: 20px;
    width: 20px;
    z-index: 2;
}
#mark span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 1.25px;
    background: var(--navi);
    transition: transform 0.25s;
}

#mark span::before {
    position: absolute;
    right: 0;
    display: inline-block;
    content: " ";
    width: 24px;
    height: 1.25px;
    background: var(--navi);
    transform: rotate(90deg);
    transition: transform 0.25s;
}

#mark.active span {
    transform: rotate(45deg);
}

#mark.active span::before {
    top: unset;
    width: 24px;
    transform: rotate(-90deg);
}

#mark span, #mark span::before {
    transition: transform 0.25s, background 0.4s ease-out;
}



/* Navi */

.navi {
    visibility: hidden;
}

.navi {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--hover);
    z-index: 9002;
}

.main-navi {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navi-item-about,
.navi-item-works,
.navi-item-story {
    position: relative;
}

.navi-item-about {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.navi-item-works {
    top: 40%;
    left: 16%;
    transform: translateX(-50%);
}

.navi-item-story {
    top: 50%;
    left: 58%;
    transform: translateX(-50%);
}

.main-container a {
    font-family: 'Badger', serif;
    font-size: clamp(9vh, 10vw, 16vh);
    text-transform: lowercase;
    text-decoration: none;
    color: var(--href);
    position: relative;
    transition: color 0.3s ease;
    transform-origin: center;
    padding: 0 5px;
}

.main-container a:hover {
    color: var(--hover);
}

.navi-item-revealer {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--hover);
    transform: translateY(-50%);
    transition: width 0.4s ease;
}

.main-container a:hover + .navi-item-revealer {
    width: 100%;
}

.side-navi {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Unitea Sans', serif;
    color: var(--href);
    text-align: center;
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.wrapper-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.wrapper-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navi a {
    text-decoration: none;
    color: var(--href);
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: relative;
    transition: color 0.4s ease-out;
}

.side-navi a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--hover);
    transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.side-navi a:hover {
    color: var(--hover);
}
.side-navi a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .side-navi a {
        font-size: 1.2rem;
        letter-spacing: 0.15em;
    }
    .wrapper-legal {
        gap: 2rem;
    }
}






















.branding {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    visibility: visible;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    color: #000000;
}

.branding-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 90%;
}

.branding .portrait,
.branding .portraitcolor {
    position: absolute;
    left: calc(50% - 12vw);
    bottom: 0;
    height: clamp(500px, 90vh, 1050px);
    transform: translateX(-50%);
    width: auto;
    object-fit: contain;
    transition: opacity 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease;
    z-index: 10000;
}

.branding .portraitcolor {
    opacity: 0;
    z-index: 10000;
}

.branding .portrait:hover + .portraitcolor,
.branding .portraitcolor:hover {
    opacity: 1;
}

.branding .portrait:hover {
    opacity: 0;
}

.branding .signature {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    width: 12vw;
    height: auto;
    z-index: 10001;
}

.branding-name {
    position: absolute;
    top: 40%;
    right: 20%;
    text-align: right;
    font-size: clamp(4rem, 12vw, 9rem);
    font-weight: normal;
    line-height: 1;
    text-transform: normal;
    z-index: 10001;
    white-space: nowrap;
    animation: scroll-left 24s linear infinite;
    font-family: 'Athemi DEMO VERSION', serif;
}


.branding-rights {
    position: fixed;
    z-index: 99999;
    bottom: clamp(1rem, 5vh, 5rem);
    left: clamp(1rem, 5vw, 5rem);
    font-size: clamp(0.75rem, 3vw, 2rem);
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
    animation: scroll-right 24s linear infinite;
}

.branding-year {
    position: fixed;
    z-index: 99999;
    bottom: clamp(1rem, 5vh, 5rem);
    right: clamp(1rem, 5vw, 5rem);
    font-size: clamp(2rem, 8vw, 5rem);
    color: #000000;
    margin-top: 0.3rem;
}

.branding-info {
    position: absolute;
    top: 70%;
    right: 20%;
    font-size: clamp(0.8rem, 2vw, 1.4rem);
    line-height: 1.4;
    text-align: right;
    margin-top: 1rem;
    max-width: 600px;
    color: #333;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    z-index: 10001;
}

@media (max-width: 768px) {
    .branding .portrait,
    .branding .portraitcolor {
        left: 50%;
        bottom: 0;
        height: clamp(250px, 68vh, 600px);
        max-width: 768px;
    }

    .branding .signature {
        top: auto;
        bottom: 5rem;
        width: 30vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .branding-name {
        right: auto;
        left: 10%;
        text-align: left;
        top: 20vh; /* Position it above the portrait image */
        font-size: clamp(1.5rem, 8vw, 2.5rem);
        animation-duration: 16s;
        white-space: normal;
    }

    .branding-info {
        right: auto;
        left: 10%;
        transform: none;
        top: 29vh;
        text-align: left;
        width: 80%;
        font-size: clamp(0.7rem, 3vw, 1rem);
    }

    .branding-rights {
        left: 1rem;
        bottom: 1rem;
        animation: none;
        white-space: normal;
        max-width: 50%;
        font-size: 0.75rem;
    }

    .branding-year {
        right: 1rem;
        bottom: 1rem;
        font-size: 2rem;
    }
}














.haze {
    position: fixed;
    opacity: 0;
    background-color: var(--fade);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    inset: 0;
    z-index: 9001;
    pointer-events: none;
    transition: all 1.5s cubic-bezier(.22, 1, .36, 1) 1.5s;

}

.haze.active {
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    animation: pulse-color 8s ease-in-out infinite alternate;
    transition: all 1s cubic-bezier(.22, 1, .36, 1) 0s;
}












body, html,
a, button, input[type="submit"], input[type="button"], input[type="reset"], [role="button"], [onclick], [tabindex]:not([tabindex="-1"]) {
    cursor: none !important;
}

.drip-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 19000;
    mix-blend-mode: difference;

    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease;
}

.drip-drop.is-hovering {
    width: 12px;
    height: 12px;
    background-color: rgba(110, 110, 110, 0.5);
    transition: width 0.1s ease-out, height 0.1s ease-out, background-color 0.1s ease;
    mix-blend-mode: normal;
    backdrop-filter: blur(5px);
    opacity: 1;

}

.drip-echo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: transparent;
    mix-blend-mode: difference;
    transition: width 0.3s ease-out, height 0.3s ease-out, border-color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.drip-echo.is-hovering {
    width: 0;
    height: 0;
    opacity: 0;
    border-color: #00ffea;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    mix-blend-mode: difference;
}

.drip-drop.is-clicked {
    width: 24px;
    height: 24px;
    background-color: rgba(110, 110, 110, 0.5);
    transition: width 0.1s ease-out, height 0.1s ease-out, background-color 0.1s ease;
    mix-blend-mode: normal;
    backdrop-filter: blur(5px);
}

.drip-echo.is-clicked {
    width: 0;
    height: 0;
    opacity: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease;
}

.drip-drop.is-hovering.is-clicked {
    width: 16px;
    height: 16px;
    background-color: rgba(247, 0, 255, 0.75);
}












.grain:after {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    height: 200%;
    width: 200%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    animation: animateGrain 8s steps(10) infinite;
    z-index: 1000;
    mix-blend-mode: normal;
    pointer-events: none;
}

body.overlay-active .grain:after {
    z-index: 9001;
}

@keyframes animateGrain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, -20%);
    }
    30% {
        transform: translate(-5%, -10%);
    }
    40% {
        transform: translate(-15%, -20%);
    }
    50% {
        transform: translate(-5%, -10%);
    }
    60% {
        transform: translate(-15%, -20%);
    }
    70% {
        transform: translate(-5%, -10%);
    }
    80% {
        transform: translate(-15%, -20%);
    }
    90% {
        transform: translate(-5%, -10%);
    }
    100% {
        transform: translate(-15%, -20%);
    }
}






.sound-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: clamp(80px, 7vw, 125px);
    height: clamp(80px, 7vw, 125px);
    cursor: pointer;
    z-index: 100;
}

.sound-button canvas {
    width: 100%;
    height: 100%;
    display: block;
}



header {
    --header-height: 5rem;
    --gradient-height: 6rem;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

header .header-bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), transparent);
}


header .gradualblur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--gradient-height);
    z-index: 900;
}

header .gradualblur:nth-child(1) {
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 1));

    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 1));
}

header .gradualblur:nth-child(2) {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 2));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 2));
}

header .gradualblur:nth-child(3) {
    -webkit-backdrop-filter: blur(1.75px);
    backdrop-filter: blur(1.75px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 3));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 3));
}

header .gradualblur:nth-child(4) {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 4));
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black calc(100% / 5 * 4));
}

header .gradualblur:nth-child(5) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to top,
    transparent 0%,
    black 100%);
    -webkit-mask-image: linear-gradient(to top,
    transparent 0%,
    black 100%);
}

header .content {
    z-index: 900;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}