* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(241, 241, 241);
    --ui: #000000;
    --uifade: rgba(234, 234, 234, 0.8);
    --link: rgb(0, 0, 0);
    --hover: #efd005;
    --fade: rgba(232, 232, 232, 0.75);
    --text: #000000;
    --subtext: #3e3e3e;
    --accent: rgba(126, 126, 126, 0.5);
    --credits: #090909;
    --credits-sub: rgba(0, 0, 0, 0.5);
}



@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(0, 0, 0);
        --ui: #ffffff;
        --uifade: rgba(44, 44, 44, 0.8);
        --link: rgb(255, 255, 255);
        --hover: #efd005;
        --fade: rgba(0, 0, 0, 0.75);
        --text: #ffffff;
        --subtext: #bcbcbc;
        --accent: rgba(126, 126, 126, 0.5);
        --credits: #ffffff;
        --credits-sub: rgba(255, 255, 255, 0.5);
    }
}


body {
    background: var(--bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athemi';
    src: url('./fonts/athemi_otf-webfont.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aesthetic';
    src: url('./fonts/Aesthetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Remington';
    src: url('./fonts/Remington Noiseless.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.logo {
    position: fixed;
    padding: 1.5em;
    z-index: 10;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-family: "PP Neue Montreal";
    font-weight: 500;
}

.sidebar {
    width: 100vh;
    height: max-content;
    display: flex;
    align-items: flex-start;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    padding: 1.5em 3em;
    font-family: "PP Neue Montreal";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar > div:nth-child(1) {
    flex: 2;
}

.sidebar > div:nth-child(2) {
    flex: 2;
    display: flex;
    gap: 6em;
}

p#header {
    font-family: "Timmons NY 2.0";
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 85%;
    margin-bottom: 4rem;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: pan-x;
}

.slider-wrapper {
    position: absolute;
    top: 0;
    padding: 0 800px;
    height: min-content;
    display: flex;
    align-items: center;
    gap: 150px;
}

.slide {
    width: 800px;
    background: #e3e3e3;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1000px) {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
